<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
<typeAliases>
	<typeAlias type="com.kh.apartmentor.member.model.vo.Member" alias="member"/>
	<typeAlias type="com.kh.apartmentor.board.model.vo.Board" alias="board"/>
	<typeAlias type="com.kh.apartmentor.visit.model.vo.Visit" alias="visit"/>
	<typeAlias type="com.kh.apartmentor.board.model.vo.Reply" alias="reply"/>
	<typeAlias type="com.kh.apartmentor.parking.model.vo.Parking" alias="parking"/>
	<typeAlias type="com.kh.apartmentor.common.model.vo.Reserve" alias="reserve"/>
	<typeAlias type="com.kh.apartmentor.visit.model.vo.VisitCategory" alias="visitCategory"/>
</typeAliases>


	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/visit-mapper.xml" />
		<mapper resource="/mappers/carVisit-mapper.xml" />
		<mapper resource="/mappers/study-mapper.xml" />
		<mapper resource="/mappers/sports-mapper.xml" />
	</mappers>
</configuration>
