<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
 	
 	<resultMap type="chat" id="chatResultSet">
 		<result column="CHAT_NO" property="chatNo"/>
 		<result column="CHAT_CONTENT" property="chatContent"/>
 		<result column="CHAT_SENDTIME" property="chatSendTime"/>
 		<result column="CHAT_CODE" property="chatCode"/>
 		<result column="CHAT_WRITER" property="chatWriter"/>
 	</resultMap>
 
 
 
 	<!-- 채팅리스트 조회 쿼리문 -->
 	<select id="selectChatList" resultMap="chatResultSet">
 		SELECT
 				CHAT_NO,
 				CHAT_CONTENT,
 				TO_CHAR(CHAT_SENDTIME, 'YYYY-MM-DD HH24:MI') AS "CHAT_SENDTIME",
 				CHAT_CODE,
 				CHAT_WRITER
 		  FROM
 		  		CHAT
 		 WHERE
 		 		CHAT_CODE = 1 				
 	</select>
 
</mapper>
