<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feeMapper">

	<resultMap type="fee" id="feeResultSet">
		<result column="APT_NO" property="aptNo" />
		<result column="USER_NO" property="userNo" />
		<result column="FEE_MONTH" property="feeMonth" />
		<result column="DUE_DATE" property="dueDate" />
		<result column="APT_FEE" property="aptFee" />
	</resultMap>
	
	<select id="selectFeeList" resultMap="feeResultSet">
		SELECT
		       APT_NO,
		       USER_NO,
		       FEE_MONTH,
		       DUE_DATE,
		       APT_FEE
		  FROM
		       FEE
	</select>
	
	

</mapper>
