<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="voteMapper">

	<resultMap type="vote" id="voteResultSet">
		<result column="VOTE_NO" property="voteNo" />
		<result column="VOTE_TITLE" property="voteTitle" />
		<result column="VOTE_START" property="voteStart" />
		<result column="VOTE_END" property="voteEnd" />
		<result column="VOTE_CREATE" property="voteCreate" />
		<result column="VOTE_TYPE" property="voteType" />
		<result column="STATUS" property="status" />
	</resultMap>

	<insert id="insertVote" parameterType="vote">
		INSERT 
		  INTO VOTE
		  	   (
		  	   VOTE_NO,
		  	   VOTE_TITLE,
		  	   VOTE_START,
		  	   VOTE_END,
		  	   VOTE_CREATE,
		  	   VOTE_TYPE,
		  	   STATUS
		  	   )
		VALUES
			   (
			   SEQ_VONO.NEXTVAL,
			   #{voteTitle},
			   #{voteStart},
			   #{voteEnd},
			   SYSDATE,
			   #{voteType},
			   'W'
			   )
	</insert>
	
		<insert id="insertVoteItem" parameterType="java.util.List">
		INSERT 
		  INTO VOTE_ITEM
		  	   (
		  	   ITEM_NO,
		  	   ITEM_NAME,
		  	   ORIGIN_NAME,
		  	   CHANGE_NAME,
		  	   VOTE_NO
		  	   )
			   SELECT SEQ_INO.NEXTVAL, A.* 
			   FROM(
		<foreach collection="list" item="item" separator="UNION ALL ">
			   SELECT	   
			   #{item.itemName} AS ITEM_NAME,
			   #{item.originName} AS ORIGIN_NAME,
			   #{item.changeName} AS CHANGE_NAME,
			   (SELECT MAX(VOTE_NO) FROM VOTE) AS VOTE_NO
	 	  	   FROM DUAL
		</foreach>
				) A
	</insert>
	
	<update id="setVoteStatus">
		UPDATE VOTE
		   SET STATUS = CASE
 <![CDATA[WHEN VOTE_START <= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
 <![CDATA[ AND VOTE_END >= TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
          THEN 'Y'
 <![CDATA[WHEN VOTE_END < TO_CHAR(SYSDATE, 'YYYY-MM-DD')]]>
          THEN 'N'
          ELSE 'W'
		   END

	</update>
	
	<select id="selectListCount" resultType="_int">
	  	SELECT COUNT(*)
	  	  FROM VOTE
	</select>
	
	<select id="selectVoteList" resultMap="voteResultSet">
		SELECT
			   VOTE_NO,
			   VOTE_TITLE,
			   VOTE_START,
			   VOTE_END,
			   VOTE_CREATE,
			   VOTE_TYPE,
			   STATUS
		  FROM
		 	   VOTE
         ORDER
            BY
               VOTE_NO DESC
	</select>


  
  
</mapper>
